{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
    {{ include('_match_title.html.twig') }}
    <h5>Predictions</h5>
    <ul>
        {% for prediction in predictions %}
            <li>{{ prediction.user }} {{ prediction.position }} {{ prediction.time }} {{ prediction.points }}pts
                {% if prediction.atMatch %}(At game){% endif %}
                <small>(Do you agree? {{ prediction.niceTime }})</small></li>
        {% endfor %}
    </ul>

    {% if goals|length > 0 %}
        <h5>Goals</h5>
        <ul id="goals-list">
            {% for goal in goals %}
                <li>{{ goal.scorer }}: {{ goal.timing }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
