<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ 'Andy Whing shirt competition 2020-21'|trans }}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ app.request.basepath }}/css/styles.css">

    <script src="{{ app.request.basepath }}/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

{% set active = active|default(null) %}
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('homepage') }}">{{ 'SCAWS! 2020-21'|trans }}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li {% if 'table' == active %}class="active"{% endif %}><a href="{{ path('table') }}">{{ 'Table'|trans }}</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li {% if 'add_prediction' == active %}class="active"{% endif %}><a href="{{ path('add_prediction') }}">Add prediction</a></li>
                        <li {% if 'add_goal' == active %}class="active"{% endif %}><a href="{{ path('add_goal') }}">Add goal</a></li>
                        <li {% if 'add_match' == active %}class="active"{% endif %}><a href="{{ path('add_match') }}">Add match</a></li>
                        <li {% if 'add_pint' == active %}class="active"{% endif %}><a href="{{ path('add_pint') }}">Add pint</a></li>
                        <li><a href="{{ path('add_my_pint') }}"><img src="{{ app.request.basepath }}/img/pint.png" alt="I'm getting pissed" /></a></li>
                        {% if enable_seasons %}
                            <li {% if 'seasons' == active %}class="active"{% endif %}><a href="{{ path('list_seasons') }}">Seasons</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">{{ 'Login'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <div id="main" role="main" class="container">
        {% for label, messages in app.flashes(['error', 'info', 'success']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" >
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{{ app.request.basepath }}/js/libs/jquery.min.js"></script>
<script src="{{ app.request.basepath }}/js/scripts.js"></script>
</body>
</html>
