{% extends 'layout.html.twig' %}
{% set active = 'table' %}

{% block content %}
    <h4>Current table</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Pld</th>
            <th>Pints</th>
            <th>Bonus pts</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        {% for user in table %}
            <tr id="{{ user.username }}">
                <td><a href="{{ path('user', { username: user.username }) }}">{{ user.username }}</a></td>
                <td>{{ user.played }}</td>
                <td class="pints">{{ user.pints }}</td>
                <td>{{ user.bonusPoints }}</td>
                <td class="points">{{ user.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
