{% extends 'layout.html.twig' %}
{% set currentSeason = season.isCurrent %}
{% set active = 'table' %}

{% block content %}
    {% if currentSeason %}
        <h4>Current table</h4>
    {% else %}
        <h4>Final table for {{ season.label }} season</h4>
    {% endif %}
    <table class="table span7">
        <thead>
        <tr>
            <th class="span1">&nbsp;</th>
            <th class="span2">Name</th>
            <th class="span1">Pld</th>
            <th class="span1">Pints</th>
            <th class="span1">Bonus pts</th>
            <th class="span1">Points</th>
        </tr>
        </thead>
        <tbody>
        {% for user in table %}
            <tr id="{{ user.username }}">
                <td>
                    {% if user.hasMovedUp %}
                        <span class="table-change badge badge-success"><i class="icon-arrow-up icon-white"></i></span>
                    {% elseif user.hasMovedDown %}
                        <span class="table-change badge badge-important"><i class="icon-arrow-down icon-white"></i></span>
                    {% elseif currentSeason %}
                        <span class="table-change badge badge-secondary"><i class="icon-minus icon-white"></i></span>
                    {% elseif loop.index == 1 %}
                        <span class="table-change badge badge-success"><i class="icon-star icon-white"></i></span>
                    {% elseif loop.index == 7 %}
                        <span class="table-change badge badge-important"><i class="icon-warning-sign icon-white"></i></span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% set userPath = season.isCurrent ? path('user', { username: user.username }) : path('user_old', { username: user.username, season: season.id })  %}
                    <a href="{{ userPath }}">{{ user.username }}</a>
                </td>
                <td>{{ user.played }}</td>
                <td class="pints">{{ user.pints }}</td>
                <td>{{ user.bonusPoints }}</td>
                <td class="points text-right">
                    {{ user.points|number_format(1) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="span12 pagination text-center">
        <div class="span2 left">
            {% if previous %}
                {% set seasonPath = previous.isCurrent ? path('table') : path('table_old', { season: previous.id })  %}
                <a href="{{ seasonPath }}"><i class="icon-backward"></i> {{ previous.label }}</a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div class="span3">&nbsp;</div>
        <div class="span2 left">
            {% if next %}
                {% set seasonPath = next.isCurrent ? path('table') : path('table_old', { season: next.id })  %}
                <a href="{{ seasonPath }}">{{ next.label }} <i class="icon-forward right"></i></a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
{% endblock %}
